@import "./_settings";

@import "./app_editImage/style.scss"; //css app edit image
@import "./app_nasa/style.scss";


a {
    text-decoration: none;
    color: inherit;
}

.space {
    height: 500px;
}

.header {
    background: white;
    a {
        margin: 20px;
    }
}

