.nasa_dayPicture {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;

    & .img-min {
        width: 60%;
        box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.876);
    }
    & .desc {
        color: white;
        width: 50%;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        background: $green;
        position: relative;
        //top: -50px;

        i {
            color: white;
            position: absolute;
            font-size: 2em;
            top: -10px;
            left: -10px;
            
        }

        p{
            margin: 0;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 700px) {
    .nasa_dayPicture {
        & .img-min {
            width: 90%;
        }
        & .desc {
            width: 80%;
            padding: 10px;
            //margin-top: 30px;
            font-size: 0.8em;
            i {
                top: -10px;
                left: -15px;
            }
        }
    }
}